from setuptools import setup, find_packages

setup(
    name="{{ project_name }}",
    version="1.0.0",
    packages=find_packages(),
    install_requires=[
        "fastapi",
        "uvicorn",
        "jinja2"
    ],
    entry_points={
        "console_scripts": [
            "{{ project_name }}=cli.main:main",
        ],
    },
)
